@import '../../../styles/mixins';
@import '../../../styles/vars';

.nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @include onTablet {
    flex-direction: row;
    align-items: center;
  }
}