$black: #010e27;
$gray: #7a8395;
$white: #fff;

$rose: #fde5f8;
$rose-dark: #F3ceeb;
$rose-strong: #e769cb;

$purple: #f2eaff;
$purple-dark: #e4d8f6;
$purple-strong: #8846dc;

$blue: #deecff;
$blue-dark: #c1d4ed;
$blue-strong: #3b85e8;

$yellow: #fef3d2;
$yellow-dark: #f8e6b1;
$yellow-strong: #c69812;

$green: #d3eedd;
$green-dark: #b2dfc9;
$green-strong: #1a9d6e;
$green-texts-borders: #0a9b94;
$green-button: #1ebab2;

$pink: #ffe2e2;
$pink-dark:  #fdd0d0;
$pink-strong: #ed4c5e;

$background-color-gray: #f5f7f9;
$border-color-gray: #d7dceb;
$switch-bg-color-gray: #eaf1fb;
$scroll-bar-color-gray: #e6e9f2;


